<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Notes</title>
  <script src="https://unpkg.com/vue@next"></script>
  <style>
    span {
      display: inline-block;
      margin: 0 2px;
    }
  </style>
</head>

<body>
  <div class="wrapper">
    <div id="app">
      <h1>{{ title }}</h1>
      <form @submit.prevent="onSubmit">
        <input type="text" v-model="input.value" :placeholder="input.placeholder">
        <button type="submit">Add new note</button>
      </form>

      <div class="notes">
        <div class="note" v-for="(note, index) in notes" :key="index">
          <p>
            <span @click="remove(index)">&#10005;</span>
            <span @click="edit(index)" title="Нажмите, чтобы отредактировать">{{ note }}</span>
            <input type="text"
              v-if="editedNote.id === index"
              :value="editedNote.text"
              @keyup.enter="saveChanges">
          </p>
        </div>
      </div>
    </div>
  </div>

  <script src="app.js"></script>
</body>

</html>